:root {
    --primary-color: #B20000;
    --secondary-color: #070E4D;
    --background-color: #FFF9F9;
    --form-color: #FFFFFF;
    --font-color: #2C2C2C;

    --button-primary: #B20000;
    --button-secondary: #FFFFFF;
}